* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: "Montserrat";
}

header {
  background-color: #502274;
}
header .search-bar-box {
  background: #fff;
  align-items: center;
  padding: 10px 10px 10px 40px;
  border-radius: 66px;
}
header .search-bar-box .input-field label {
  font-weight: 600;
}
header .search-bar-box .input-field input {
  border: 0;
  font-size: 14px;
}
header .search-bar-box .search-bar-box-inner-btn {
  height: 50px;
  width: 50px;
  text-align: center;
  background: #FE7700;
  border-radius: 59px;
}
header .search-bar-box .search-bar-box-inner-btn img {
  padding: 14px;
}
header .header-icon-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
}
header .header-icon-list .header-icon-list-item {
  text-align: center;
  padding: 0 10px;
}
header .header-icon-list .header-icon-list-item p {
  color: #fff;
  font-size: 14px;
}
header .header-icon-list .header-icon-list-item a {
  text-decoration: none;
}
header .header-icon-list .header-icon-list-item a img {
  width: 27px;
  padding: 4px;
}
header .header-icon-list .header-icon-list-item a .profile-icon {
  width: 28px;
  padding: 0;
}

.slider {
  position: relative;
  height: 300px;
}
.slider__slides {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider__control {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 5%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #fff;
  transition: background-color 0.3s;
  cursor: pointer;
}
.slider__control--right {
  left: 95%;
}
.slider__control:hover {
  background-color: #2da6ff;
}
.slider__control-line {
  position: absolute;
  left: 23px;
  top: 50%;
  width: 3px;
  height: 14px;
  transform-origin: 50% 0;
  transform: rotate(-45deg);
}
.slider__control-line:nth-child(2) {
  transform: translateY(1px) rotate(-135deg);
}
.slider__control--right .slider__control-line {
  left: 37px;
  transform-origin: 1px 0;
  transform: rotate(45deg);
}
.slider__control--right .slider__control-line:nth-child(2) {
  transform: translateY(1px) rotate(135deg);
}
.slider__control-line:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  transition: background-color 0.3s;
}
.slider__control:hover .slider__control-line:after {
  background-color: #fff;
}
.slider__control.a--rotation .slider__control-line:after {
  animation: arrowLineRotation 0.49s;
}
.slider__control.a--rotation .slider__control-line:nth-child(1):after {
  animation: arrowLineRotationRev 0.49s;
}

@keyframes arrowLineRotation {
  to {
    transform: rotate(180deg);
  }
}
@keyframes arrowLineRotationRev {
  to {
    transform: rotate(-180deg);
  }
}
.slide {
  overflow: hidden;
  position: absolute;
  /*left: 50%;
  top: 50%;*/
  width: 100%;
  height: 100%;
  /*transform: translate(-50%, -50%);*/
  border-radius: 20px;
  /*transition: clip-path 0s $slidingAT*0.7;
  clip-path: circle($controlSize/2 at 120vw 50%);*/
}
.slide.s--prev {
  clip-path: circle(30px at 30vw 50%);
}
.slide.s--active {
  z-index: 1;
  transition: clip-path 1.3s;
  clip-path: circle(120vmax at 120vw 50%);
}
.slide.s--active.s--active-prev {
  clip-path: circle(120vmax at 30vw 50%);
}
.slide:nth-child(1) .slide__inner {
  background-image: url("../images/NoPath.png");
}
.slide:nth-child(2) .slide__inner {
  background-image: url("../images/NoPath.png");
}
.slide:nth-child(3) .slide__inner {
  background-image: url("../images/NoPath.png");
}
.slide:nth-child(4) .slide__inner {
  background-image: url("../images/NoPath.png");
}
.slide:nth-child(5) .slide__inner {
  background-image: url("../images/NoPath.png");
}
.slide__inner {
  position: absolute;
  /*left: 50%;
  top: 50%;*/
  width: 100%;
  height: 300px;
  /*margin-left: -50vw;
  margin-top: -50vh;*/
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.slide__inner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.slide__content {
  position: absolute;
  left: 5%;
  top: 50%;
  margin-left: -30px;
  /*margin-top: $controlSize*0.8;*/
  max-width: 480px;
  color: #fff;
}
.slide__heading {
  margin-bottom: 20px;
  font-size: 60px;
}
.slide__text {
  font-size: 25px;
}
.slide__text a {
  color: inherit;
}

.event-category-section .event-category-title h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
}
.event-category-section .event-category-view a {
  color: #FE7700;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}
.event-category-section .event-category-row {
  display: flex;
  justify-content: space-between;
}
.event-category-section .event-category-single-event {
  background: #502274;
  padding: 18px 18px;
  border-radius: 10px;
  color: #fff;
  flex-basis: 207px;
}
.event-category-section .event-single-event-arrow {
  background: #fff;
  padding: 10px;
  border-radius: 26px;
  color: #FE7700;
  font-weight: 100;
}
.event-category-section .event-category-single-event img {
  width: 84px;
}
.event-category-section .event-category-single-event p {
  font-size: 12px;
  margin: 2px 0 9px 0;
}
.event-category-section .event-category-single-event:nth-of-type(1) {
  background-image: url(../images/tile1.png);
  background-size: 95px;
  background-position: 94% 86%;
  background-repeat: no-repeat;
}
.event-category-section .event-category-single-event:nth-of-type(2) {
  background-image: url(../images/tile2.png);
  background-size: 80px;
  background-position: 94% 86%;
  background-repeat: no-repeat;
}
.event-category-section .event-category-single-event:nth-of-type(3) {
  background-image: url(../images/tile3.png);
  background-size: 80px;
  background-position: 94% 86%;
  background-repeat: no-repeat;
}
.event-category-section .event-category-single-event:nth-of-type(4) {
  background-image: url(../images/tile4.png);
  background-size: 80px;
  background-position: 94% 86%;
  background-repeat: no-repeat;
}
.event-category-section .event-category-single-event:nth-of-type(5) {
  background-image: url(../images/tile5.png);
  background-size: 80px;
  background-position: 94% 86%;
  background-repeat: no-repeat;
}

.popular-event-section .event-category-title h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
}

.popular-event-section .event-category-view a {
  color: #FE7700;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

.popular-event-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.popular-event-list li {
  position: relative;
  display: flex;
  width: 257px;
}
.popular-event-list .single-event h6 {
  text-transform: uppercase;
  color: #FE7700;
  font-size: 13px;
  font-weight: 700;
  margin-top: 15px;
}
.popular-event-list .single-event h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 0;
}
.popular-event-list .single-event p {
  color: #989898;
  font-size: 13px;
  font-weight: 600;
}
.popular-event-list .single-event .event-like-btn {
  padding: 10px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.15);
}
.popular-event-list .single-event .inner-div-content {
  max-width: 205px;
}
.popular-event-list .like-share-div {
  margin-top: -10px;
}

.featured-organizer-section .event-category-title h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
}

.featured-organizer-section .event-category-view a {
  color: #FE7700;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

.single-organizer p {
  font-size: 14px;
  font-weight: 600;
  margin-top: 11px;
  margin-bottom: 3px;
}

.single-organizer span {
  font-size: 12px;
  color: #96969B;
}

.single-organizer button {
  color: #FE7700;
  font-size: 13px;
  border: 1px solid #FE7700;
  border-radius: 30px;
  background-color: #fff;
  padding: 10px 45px;
  font-weight: 700;
  margin-top: 50px;
  margin-right: 0;
  margin-left: 0;
  width: auto;
}

.single-organizer {
  position: relative;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  padding: 35px 12px;
  background: #fff;
  flex-basis: 200px;
}

.single-organizer .close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
}
.single-organizer .close-icon img {
  width: 11px;
}

.single-organizer > img {
  width: 35px;
}

.footer-main-section {
  background: #502274;
}
.footer-main-section button {
  color: #fff;
  font-size: 13px;
  border: 1px solid #FE7700;
  border-radius: 30px;
  background-color: #FE7700;
  padding: 12px 45px;
  font-weight: 700;
  margin-right: 0;
  margin-left: 0;
  width: auto;
}
.footer-main-section .quick-links {
  list-style-type: none;
  padding: 0;
}
.footer-main-section .quick-links li {
  padding: 2px 0;
}
.footer-main-section .quick-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 200;
}

.get-in-touch a {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}
.get-in-touch a i {
  color: #FE7700;
  font-size: 20px;
  padding-right: 10px;
}

.social-media-icons {
  list-style-type: none;
  padding: 0;
  align-items: center;
}
.social-media-icons a {
  color: #fff;
  font-size: 24px;
  padding-right: 23px;
}

@media screen and (max-width: 767px) {
  .d-flex {
    flex-wrap: wrap;
  }
  .event-category-section .event-category-row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .event-category-section .event-category-single-event {
    flex-basis: 245px;
    margin: 5px 0;
  }
  .popular-event-list {
    flex-wrap: wrap;
  }
  .popular-event-list li {
    width: 100%;
    justify-content: center;
  }
  .single-organizer {
    position: relative;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    padding: 35px 5px;
    background: #fff;
    flex-basis: 157px;
    margin: 5px 0;
  }
}